@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    background-color: #111827;
    font-family: 'Roboto';
}

body {
    overflow-y: scroll;
  }

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
background: radial-gradient(at center top, rgb(17, 24, 39), rgb(75, 85, 99));
border-radius: 3px;
}

@layer utilities {  
    .scrollbar::-webkit-scrollbar {
        height: 7px;
        width: 5px;
        background: transparent;
        border-radius: 5px; 
    }

    .scrollbar:hover::-webkit-scrollbar {
        height: 7px;
    }

    .scrollbar:hover::-webkit-scrollbar-thumb {
        background: #4b5563;
        border-radius: 5px;
    }
    @media (pointer:coarse) {
        .scrollbar::-webkit-scrollbar {
            display: none;
        }
    }
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #111827 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: purple;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: purple;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

@media (min-width: 640px) {
    input:-webkit-autofill {
        -webkit-box-shadow:0 0 0 50px #1f2937 inset; /* Change the color to your own background color */
        -webkit-text-fill-color: purple;
    }
}